@model AbcLearningHub.Data.Entities.UserCourseExam

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserCourseExam</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserCourseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCourseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseExamId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseExamId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTaken)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
